<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>The app needs to be able to share the health data for you to see. It will also show you how many calories you burnt. </string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>The app needs to access your health data to track calories burn and distance ran. We will also track heart rate. </string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
